<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <div class="fluid-width-video-wrapper"><div class="video-foreground"><iframe title="TTBC2" class="js-page-header-video loaded" loading="lazy" data-src="https://player.vimeo.com/video/547405778?h=056917f752&amp;dnt=1&amp;app_id=122963&amp;background=1" width="1200" height="560" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" src="https://player.vimeo.com/video/547405778?h=056917f752&amp;dnt=1&amp;app_id=122963&amp;background=1" data-ready="true"></iframe></div></div>
      <!-- Background circles 
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>-->
      <div class="entry__header-wrapper mx-auto  has-bg-img ">
        <div class="entry__header-inner-wrapper has-lg-font-size  has-bg-img  max-width-header-content">
           <div class="flex space-between align-center">
              <div class="entry__header-content has-left-border pl-3">
                <h1 class="entry__title has-primary-color mb-0">
                  The Temenos Banking Cloud							</h1>
  
                <p>Instant access to the most extensive set of composable banking services</p>						</div>
                        </div>
                    
          
                </div>
      </div>

     <!-- <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <div class="lead text-white">Introducing The Temenos Banking Cloud
              </div>
 
              <p class="lead text-white">Instant access to the most extensive set of composable banking services.</p>
              <div class="btn-wrapper mt-5">
                <iframe width="800" height="450" src="https://player.vimeo.com/video/622621468?h=5241dd659e&dnt=1&app_id=122963" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="mt-5">
                <small class="text-white font-weight-bold mb-0 mr-2">*proudly coded by</small>
                <img src="./assets/img/brand/creativetim-white-slim.png" style="height: 28px;">
              </div>
            </div>
          </div>
        </div>
      </div>-->
      <!-- SVG separator -->
     
    </section>
  </div>
  <app-sections></app-sections>
</main>
